div#container
{
   width: 473px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_errorText1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_errorText1 div
{
   text-align: center;
}
#wb_Form1
{
   background-color: transparent;
   background-image: url(images/4.png);
   background-repeat: no-repeat;
   background-position: left top;
   border: 0px #000000 solid;
}
#wb_index_telefon1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_index_telefon1 div
{
   text-align: left;
}
#wb_index_Telefon2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_index_Telefon2 div
{
   text-align: left;
}
#wb_masterCssMenu1
{
   border: 0px #FFFFFF solid;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   background-color: transparent;
}
#wb_masterCssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_masterCssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
}
#wb_masterCssMenu1 a
{
   display: block;
   float: left;
   color: #FFD700;
   border: 0px #D3D3D3 none;
   -moz-border-radius: 0px;
   -webkit-border-radius: 0px;
   border-radius: 0px;
   background-color: #808080;
   background-image: none;
   font-family: Verdana;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   height: 26px;
   line-height: 26px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_masterCssMenu1 li:hover a, #wb_masterCssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #C0C0C0;
   background-image: none;
   border: 0px #000000 none;
}
#wb_masterCssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_masterCssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_masterCssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_index_Shape1 a img
{
   position: absolute;
}
#wb_index_Shape1 span
{
   position: absolute;
}
#wb_index_Shape1 a .hover
{
   visibility: hidden;
}
#wb_index_Shape1 a:hover .hover
{
   visibility: visible;
}
#wb_index_Shape1 a:hover span
{
   visibility: hidden;
}
#index_Shape1
{
   border-width: 0;
}
#wb_errorText2 
{
   background-color: #F0E68C;
   border: 0px #000000 solid;
   -moz-border-radius: 31px;
   -webkit-border-radius: 31px;
   border-radius: 31px;
   padding: 0;
   margin: 0;
   text-align: center;
   -moz-box-shadow: 0px 0px 30px #FFFFFF;
   -webkit-box-shadow: 0px 0px 30px #FFFFFF;
   box-shadow: 0px 0px 30px #FFFFFF;
}
#wb_errorText2 div
{
   text-align: center;
}
#wb_masterCssMenu1
{
   position: absolute;
   left: 100px;
   top: 7px;
   width: 258px;
   height: 28px;
   text-align: center;
   z-index: 3;
}
#wb_index_Telefon2
{
   position: absolute;
   left: 87px;
   top: 274px;
   width: 285px;
   height: 31px;
   z-index: 2;
   text-align: left;
}
#wb_index_Shape1
{
   position: absolute;
   left: 146px;
   top: 353px;
   width: 167px;
   height: 75px;
   z-index: 4;
}
#wb_index_telefon1
{
   position: absolute;
   left: 87px;
   top: 313px;
   width: 285px;
   height: 31px;
   z-index: 1;
   text-align: left;
}
#index_Shape1
{
   width: 167px;
   height: 75px;
}
#wb_Form1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 469px;
   height: 459px;
   z-index: 8;
}
#wb_errorText1
{
   position: absolute;
   left: 73px;
   top: 249px;
   width: 376px;
   height: 84px;
   text-align: center;
   z-index: 7;
}
#wb_errorText2
{
   position: absolute;
   left: 57px;
   top: 108px;
   width: 357px;
   height: 100px;
   text-align: center;
   z-index: 5;
}
@media only screen and (max-width: 320px)
{
div#container
{
   width: 320px;
}
#wb_errorText1
{
   left: 72px;
   top: 249px;
   width: 376px;
   height: 84px;
   visibility: visible;
   display: inline;
}
}
