div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url(images/4.png);
   background-attachment: fixed;
   background-position: center top;
   background-repeat: no-repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: scroll;
   overflow-y: scroll;
}
#master_Layer2
{
   background-color: #3C3C3C;
   border: 1px #3C3C3C solid;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   filter: alpha(opacity=90);
   opacity: 0.90;
}
#wb_masterCssMenu1
{
   border: 0px #FFFFFF solid;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   background-color: transparent;
}
#wb_masterCssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_masterCssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
}
#wb_masterCssMenu1 a
{
   display: block;
   float: left;
   color: #FFD700;
   border: 0px #D3D3D3 none;
   background-color: transparent;
   background-image: none;
   font-family: Verdana;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_masterCssMenu1 li:hover a, #wb_masterCssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 none;
}
#wb_masterCssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_masterCssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_masterCssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#masterImage2
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_masterkrasnaya_polyanaText4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_masterkrasnaya_polyanaText4 div
{
   text-align: center;
}
#wb_masterText1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_masterText1 div
{
   text-align: left;
}
#masterImage1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#master_Image3
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#master_Image4
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#master_Layer1
{
   background-color: #3C3C3C;
   border: 1px #696969 solid;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   -moz-box-shadow: 0px 0px 50px #FFFFFF;
   -webkit-box-shadow: 0px 0px 50px #FFFFFF;
   box-shadow: 0px 0px 50px #FFFFFF;
   filter: alpha(opacity=85);
   opacity: 0.85;
}
#wb_master_Text12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_master_Text12 div
{
   text-align: center;
}
